<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up User</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/sign-up"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <form [formGroup]="formOne">
          <ion-grid>
            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input  type="text" formControlName="email" ></ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="validationEmail">
                  <ion-text color="danger">Please enter a valid Email</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" formControlName="password" ></ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="validationPassword">
                  <ion-text color="danger">Please enter a valid Password </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Re-type Password</ion-label>
                  <ion-input type="password" formControlName="reTypePassword" ></ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="validationTypePassword">
                  <ion-text color="danger">Please confirm your password</ion-text>
                </ion-item>    
              </ion-col>
            </ion-row>  
          </ion-grid>
        </form>
  </ion-card>
  <ion-card>
  <form [formGroup]="formTwo">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input  type="text" formControlName="name" ></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="validationName">
              <ion-text color="danger">Please enter a valid Name</ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Age</ion-label>
              <ion-input type="number" formControlName="age" ></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="validationAge">
              <ion-text color="danger">Please enter a valid Age </ion-text>
            </ion-item>
            <ion-item style="margin-top:5%">
                <ion-label >Gender</ion-label>
                <ion-select placeholder="Select One" formControlName="gender">
                  <ion-select-option value="male">Male</ion-select-option>
                  <ion-select-option value="female">Female</ion-select-option>
                </ion-select>
              </ion-item>
            <ion-item lines="none" *ngIf="validationGender">
              <ion-text color="danger">Please enter a valid Gender </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Occupation</ion-label>
              <ion-input type="text" formControlName="occupation" ></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="validationOccupation">
              <ion-text color="danger">Please enter a valid Occupation</ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="number" formControlName="notelephone" ></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="validationNoTelephone">
                <ion-text color="danger">Please enter a valid Phone Number</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </form>
  </ion-card> 
  <ion-button type="submit" color="primary" expand="block" (click)="onSubmit()" style="margin: 0 4% 0 4%">Submit</ion-button>
</ion-content>
