<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goProfil()"><ion-icon name='person' slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()"><ion-icon name='log-out' slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="4">
              <ion-buttons>
                <ion-button [routerLink]="['./request']"><ion-icon name='mail' slot="icon-only"></ion-icon></ion-button>
              </ion-buttons>
            </ion-col>
            <ion-col size="3">
              <ion-buttons>
                <ion-button [routerLink]="['./history-request']"><ion-icon name='information-circle-outline' slot="icon-only"></ion-icon></ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center style="font-size: 17px;">
            Daftar Yang Sudah Di Accept
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item *ngFor="let req of data" [routerLink]="['./',req.$key]" >
            <ion-label>{{ req.$value.nama}}</ion-label>
        </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
