<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Yang Diterima</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name='arrow-back' slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()"><ion-icon name='trash' slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title text-center style="font-size: 17px;">
              Daftar History Request
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  </ion-grid>
</ion-content>
