<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Yang Diterima</ion-title>
    <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/home-penyedia"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="goBack()"><ion-icon name='trash' slot="icon-only"></ion-icon></ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title text-center style="font-size: 17px;">
              Detail Request Yang di-Acc
            </ion-card-title>
          </ion-card-header>
          <ion-list>
              <ion-item>
                <ion-label position="stacked">Nama Kegiatan</ion-label>
                <ion-input type="text" readonly>{{(request | async)?.nama}}</ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Deskripsi Kegiatan</ion-label>
                <ion-input type="text"  readonly>{{(request | async)?.desc}}</ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Tujuan Kegiatan</ion-label>
                <ion-input type="text"  readonly>{{(request | async)?.tujuan}}</ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Jadwal Kegiatan</ion-label>
                <ion-input type="text" readonly>{{(request | async)?.date}}</ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Jam Kegiatan</ion-label>
                <ion-input type="text" readonly>{{(request | async)?.start_time}} s/d {{(request | async)?.end_time}}</ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Jumlah Peserta</ion-label>
                <ion-input type="number" readonly>{{(request | async)?.jumlah}}</ion-input>
              </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>  
            <ion-item>
              <ion-label position="stacked">Feedback</ion-label>
              <ion-textarea readonly>{{(request | async)?.feedback}}</ion-textarea>
            </ion-item>
          </ion-card>
      </ion-col>
  </ion-grid>
</ion-content>
