<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/home-pendaftar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-avatar class="avatar">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/A6M3_Zero_N712Z_1.jpg/300px-A6M3_Zero_N712Z_1.jpg">
  </ion-avatar>  
  <div class="nama">
    <p>{{(user | async)?.name}}</p>
  </div>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="stacked">Email</ion-label>
        <p>{{(user | async)?.email}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Age</ion-label>
        <p>{{(user | async)?.age}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Gender</ion-label>
        <p>{{(user | async)?.gender}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Occupation</ion-label>
        <p>{{(user | async)?.occupation}}</p>
      </ion-item>
      
      <ion-item>
        <ion-label color="primary" position="stacked">No. Telephone</ion-label>
        <p>{{(user | async)?.phoneNumber}}</p>
      </ion-item>
      
    </ion-list>
</ion-card>
  
</ion-content>
