<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/home-pendaftar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="profile-picture big-profile-picture">
      <ion-img src="https://www.scalemates.com/products/img/3/1/3/960313-15144-40-pristine.jpg"></ion-img>
    </div> -->
    
    <ion-avatar class="avatar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/A6M3_Zero_N712Z_1.jpg/300px-A6M3_Zero_N712Z_1.jpg">
    </ion-avatar>
    <div class="nama">
        <p>Ignatius Yudhistira Indrawan</p>
    </div>
   
    
    
  <!-- <ion-item class="profile-item">
    
    <h2 class="profile-name dark">Ignatius Yudhistira Indrawan wawawawawawawwa</h2>
  </ion-item> -->

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="stacked">Email</ion-label>
        <p>email.email@email.com</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Occupation</ion-label>
        <p>Kamikaze Plane</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Age</ion-label>
        <p>11</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">No. Telephone</ion-label>
        <p>08122213244231</p>
      </ion-item>
      
    </ion-list>
</ion-card>
  
</ion-content>
