<ion-header>
  <ion-toolbar>
    <ion-title>Detail History</ion-title>
      <ion-buttons slot="start">
            <ion-button (click)="goBack()"><ion-icon name='arrow-back' slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title text-center style="font-size: 17px;">
                Detail History Request
              </ion-card-title>
            </ion-card-header>
            <ion-list>
                <ion-item>
                  <ion-label color="primary" position="stacked">Nama Kegiatan</ion-label>
                  <p>{{(request | async)?.nama}}</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" position="stacked">Deskripsi Kegiatan</ion-label>
                  <p>{{(request | async)?.desc}}</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" position="stacked">Tujuan Kegiatan</ion-label>
                  <p>{{(request | async)?.tujuan}}</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" position="stacked">Jadwal Kegiatan</ion-label>
                  <p>{{(request | async)?.date}}</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" position="stacked">Jam Kegiatan</ion-label>
                  <p>{{(request | async)?.start_time}} s/d {{(request | async)?.end_time}}</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" position="stacked">Jumlah Peserta</ion-label>
                  <p>{{(request | async)?.jumlah}}</p>
                </ion-item>
              </ion-list>
          </ion-card>
          <ion-card>  
              <ion-item>
                <ion-label color="primary" position="stacked">Feedback</ion-label>
                <ion-textarea readonly>{{(request | async)?.feedback}}</ion-textarea>
              </ion-item>
            </ion-card>
        </ion-col>
    </ion-grid>
  </ion-content>