<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home-penyedia"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-avatar class="avatar">
    <img *ngIf="profileImg" [src]="profileImg" (click)= "file.click()">
    <img *ngIf="!profileImg" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" (click)= "file.click()">
  </ion-avatar>  
  <div style="display: none;">
    <input #file type='file' (change)="onFileChosen($event)" />
  </div>
  <div class="nama">
    <p>{{(penyedia | async)?.schoolName}}</p>
  </div>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="stacked">Email</ion-label>
        <p>{{(penyedia | async)?.email}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Educational Stage</ion-label>
        <p>{{(penyedia | async)?.educationalStage}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Address</ion-label>
        <p>{{(penyedia | async)?.address}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">No. Telephone</ion-label>
        <p>{{(penyedia | async)?.phoneNumber}}</p>
      </ion-item>
      
    </ion-list>
  </ion-card>
</ion-content>
