<ion-header>
  <ion-toolbar>
    <ion-title>Request Kegiatan</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/home-pendaftar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://cdns.klimg.com/merdeka.com/i/w/news/2019/09/19/1110741/670x335/umn-tawarkan-beasiswa-sejumlah-program-studi-khusus-minat.jpg" ></ion-img>
  <div class="nama">
      <p>{{(sekolah | async)?.schoolName}}</p>
  </div>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="stacked">Email</ion-label>
        <p>{{(sekolah | async)?.email}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Address</ion-label>
        <p>{{(sekolah | async)?.address}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Educational Stage</ion-label>
        <p>{{(sekolah | async)?.educationalStage}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">Phone Number</ion-label>
        <p>{{(sekolah | async)?.phoneNumber}}</p>
      </ion-item>
    </ion-list>
  </ion-card> 

  <ion-button
    expand="block"
    [routerLink]="['/', 'home-pendaftar', 'tabs', 'home', 'request-kegiatan', schoolId ]"
    routerLinkActive="router-link-active"
    >Request Kegiatan</ion-button
  >



</ion-content>
