<ion-header>
  <ion-toolbar>
    <ion-title>Request Kegiatan</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/home-pendaftar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nama Kegiatan</ion-label>
        <ion-input type="text"  name="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tujuan Kegiatan</ion-label>
        <ion-input type="text" name="deskripsi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Jumlah Peserta</ion-label>
        <ion-input type="number" name="jumlah"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tanggal Kegiatan</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" min="2019" max="2999"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Waktu Mulai Kegiatan</ion-label>
        <ion-datetime displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Waktu Selesai Kegiatan</ion-label>
        <ion-datetime displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Deskripsi Kegiatan</ion-label>
        <ion-textarea rows="10" cols="20"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button (click)="onSubmit()" type="button" expand="block">Submit</ion-button>
    <ion-button (click)="onCancel()" type="button" expand="block" fill="outline">Cancel</ion-button>
  </form>
</ion-content>
