<ion-header>
  <ion-toolbar>
    <ion-title>Submit Review</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/home-pendaftar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-list>
        <ion-item lines="none">
          <ion-label color="primary" position="stacked">Review</ion-label>
          <ion-textarea rows="10" cols="20" formControlName="review"></ion-textarea>
        </ion-item>
        <ion-item lines="none" *ngIf="validationReview">
          <ion-text color="danger">Please enter Review</ion-text>
        </ion-item>
      </ion-list>
    </ion-card>
    
    <ion-button (click)="onSubmit()" type="button" color="success" expand="block">Submit Review</ion-button>

  </form>
</ion-content>
