<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/sign-up"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center >Register As</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ion-button expand="block" routerLink="/sign-up/sign-up-penyedia">Penyedia</ion-button>
        <ion-button expand="block" routerLink="/sign-up/sign-up-user">Pendaftar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
