<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="goInfoPenyedia()"><ion-icon name='person' slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"><ion-icon name='log-out' slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar
          placeholder="Search by address"
            (ionInput)="filterSekolah($event)"
            (ionCancel)="clearFilter()"
          ></ion-searchbar>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-select (ionChange)="filterSekolahKategori($event)" placeholder="Educational Stage">
            <ion-select-option value="tk">TK</ion-select-option>
            <ion-select-option value="sd">SD</ion-select-option>
            <ion-select-option value="smp">SMP</ion-select-option>
            <ion-select-option value="sma">SMA</ion-select-option>
            <ion-select-option value="all">All</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label color="primary">School List</ion-label>
    </ion-item>
    <!-- <ion-button (click)="onPickImage()">TEST IMAGE</ion-button>

    <ion-img
      role="button"
      class="image"
      [src]="selectedImage"
      *ngIf="selectedImage"
    ></ion-img>
    <ion-label>{{ selectedImage }}</ion-label> -->

    
    <ion-list>
      <ion-item
      *ngFor="let sekolah of listSekolah "   
      [routerLink]="['./',sekolah.userID]">
        <ion-label>{{sekolah.schoolName}}</ion-label>
      </ion-item>
    </ion-list
    >
  </ion-card>
  
</ion-content>
